.main {
  color: #c3d3d2;
}

.displayed {
  padding-top: 3%;
}
.site-header {
  background: #000000;
  box-shadow: 0 0 1.3rem #0f4140;
}

.main-nav ul {
  padding-bottom: 0.1em;
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-top: 5%
  margin-right: .4em;
  font-size: 2em;
  font-variant: small-caps;
  padding: .5em .2em;
}

.list {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 1.3rem #0f4140;
  padding-left: 10%;
  padding-right: 10%;
  height: 40px;
  font-size: 16px;
}

/*// On the Map // */

#restaurantInfo h1 {
  font-size: 20px !important;
  color: black;
}

.restaurantAddress {
  color: black;
  text-align: left;
}

.violationHistory {
  color: black;
  text-align: left;
}

/*On the About Page*/

#about {

}

.team-photo {
  width: 70%;
  padding-top: 10%;
  padding-bottom: 5%;

}

#about-text p {
  text-align: left;
}

/*On the Form*/

.suggestionForm {
  width: 87%;
  margin-left: 4%;
  border: none;
}

#form {
  border: none;
  box-shadow: 0 0 1.3rem #0f4140;
  background-color: #484a49;
  border-radius: 15px;
  margin-left: 8%;
  margin-right: 8%;
}

#feedback h1 {
  font-variant: small-caps;
  font-size: 35px;
  text-shadow: 0 0 1.3rem #0f4140;
  padding: 5%
}


#nameSender {
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: 85%;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  border-wi: 2px;
}

#feedbackContent {
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: 85%;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  margin: 3%;
}

#button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 1.3rem #0f4140;
  padding-left: 3%;
  padding-right: 3%;

}

#button:hover {
  background-color: #c6572b;
  border-color: #c6572b;
  color: white;
}

#feedbackSpacing {
  padding: 7%;
}

.comment h2, p {
  font-size: 25px;
  text-align: left;
  margin-left: 10%;
}


.site-footer {
  background: #000000;
  box-shadow: 0 0 1.3rem #0f4140;
  position: absolute;
  left:0px;
  bottom:0px;
  height:100px;
  width:100%;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;

  }

  .main-nav ul {
    display: block;

  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;

  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

  .site-footer {
    background: #000000;
    position: relative;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
  }
}

@media only screen and (max-width: 639px) {
  .site-footer {
    background: #000000;
    position: relative;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
  }

}
