
.site-header {
  background: #3D3D3D;
}

.main-nav ul {
  padding: 0.1em;
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-top: 5%
  margin-right: .4em;
  font-size: 1.5em;
  font-variant: small-caps;
  padding: .5em .2em;
}

.list {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  padding-left: 10%;
  padding-right: 10%;
  height: 40px;
  font-size: 16px;
}

/*// On the Map // */

#restaurantInfo h1 {
  font-size: 20px !important;
  color: black;
}

.restaurantAddress {
  color: black;
  text-align: left;
}

.violationHistory {
  color: black;
  text-align: left;
}

/*On the Form*/

.suggestionForm {
  width: 87%;
  margin-left: 4%;
  border: none;
}

#form {
  border: none;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  /*background-color: #3D3D3D;*/
  border-radius: 15px;
}

#feedback h1 {
  font-variant: small-caps;
  font-size: 25px;
  padding: 5%
}

#nameSender {
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: 85%;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  border-wi: 2px;
}

#feedbackContent {
  font-size: 16px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: 85%;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  margin: 3%;
}

#button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
  padding-left: 3%;
  padding-right: 3%;

}

#button:hover {
  background-color: #29506D;
  border-color: #29506D;
  color: white;
}

#feedbackSpacing {
  padding: 10%;
}


.site-footer {
  background: #3D3D3D;

  position: relative;
  left:0px;
  bottom:0px;
  height:100px;
  width:100%;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;

  }

  .main-nav ul {
    display: block;

  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;

  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

}
