*{

}

.body {
  background: #425572;
}
.site-header {
  background: #3D3D3D;

}

.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  padding: 0.1em;

}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;

}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-top: 5%
  margin-right: .4em;
  font-size: 1.5em;
  font-variant: small-caps;
  padding: .5em .2em;

}

.list {
  margin-top: 10%;
}

#restaurantInfo h1 {
  font-size: 20px !important;
  color: black;
}

.restaurantAddress {
  color: black;
  text-align: left;
}

.violationHistory {
  color: black;
  text-align: left;
}

.pre-footer {
  margin-left: 10%;
  margin-top:10%;
  max-height: 10%;
}

.suggestionForm {
  width: 87%;
  margin-left: 4%;
  border: none;
}

#form {
  border: none;
  box-shadow: 0 0 1.3rem rgba(0,0,0,0.25);
}

/*#feedback {
  background-color: #3D3D3D;
  width: 80%;
  margin-left: 10%;
  border-radius: 15px;
  margin-bottom: 10%;
  margin-top: 10%;

}*/

#feedback-title {
  font-variant: small-caps;
  font-size: 25px;
}

#feedbackContent {
  font-size: 20px;
}

#nameSender {
  font-size: 20px;
}

#sender {
  font-size: 20px;
}

#filters {
  padding: 0;
  list-style: none;
}

#button {

}

#guestbook {

}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

#article-export label {
  font-size: .8em;
  font-style: italic;
  color: #ccc;
}

.site-footer {
  background: #3D3D3D;

}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;

  }

  .main-nav ul {
    display: block;

  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;

  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

}
